# =========================================
# QPA BACKEND
# =========================================

NODE_ENV=development

PORT=5000

CLIENT_URL=http://localhost:5173

SERVER_URL=http://localhost:5000


# =========================================
# DATABASE
# =========================================

MONGODB_URI=mongodb://billionstars111_db_user:Si0yVWLPJcebKVnX@ac-6hxrdye-shard-00-00.oqabe5f.mongodb.net:27017,ac-6hxrdye-shard-00-01.oqabe5f.mongodb.net:27017,ac-6hxrdye-shard-00-02.oqabe5f.mongodb.net:27017/?ssl=true&replicaSet=atlas-je2iko-shard-0&authSource=admin&appName=Cluster0


# =========================================
# AUTHENTICATION
# =========================================

JWT_SECRET=


# =========================================
# PAYMENT
# =========================================

PAYMENT_PROVIDER=razorpay

RAZORPAY_KEY_ID=rzp_test_Tbx4q8WeQ2fHJc
RAZORPAY_KEY_SECRET=064B2GVwzYBug07PRtt2d4On